%h3 Welcome to the Incompetence Tracker
.flash= flash[:notice]

- if session[:logged_in] == nil
  = link_to 'login', login_path
  = link_to 'Signup', signup_path
- else
  = link_to 'logout', logout_path
