%h3 Contact Record

%span.show-field-name Create Date: 
.show-field-value= @contact_record.created_at.strftime("%m/%d/%Y %I:%m %p")

%span.show-field-name Company: 
.show-field-value= @contact_record.company

%span.show-field-name Contact Type:  
.show-field-value= @contact_record.contact_record_type

%span.show-field-name Details:  
.show-field-value= @contact_record.details

