%h3 Problems

%table#problems-index
  %caption My Problems
  %thead
    %tr
      %th 
      %th Company
      %th Title
  %tbody
    - @problems.each do |problem|
      %tr
        %td.table-link= link_to 'Show', problem_path(problem.id)
        %td= h problem.company_name
        %td= h problem.title
