!bg = #40639B
!loginbox = #C0C5E5 

body
  margin  0
  padding 0

  background-color = #fff
  h1
    :text-align center

  #content
    margin  2em
    padding 2em

  .flash
    border: 1px solid black

  .login-box
    background-color = !loginbox
    :border 1px solid black
    :text-align center
    :vertical-align middle
    :margin-left auto
    :margin-right auto
    :padding-top 5em
    :width 500px
    :height 300px

  .login-box
    input
      :border 1px solid black
  
  #errorExplanation
    :border 1px solid black

    :padding .8em
    :margin  1em

    :background-color #ccc


  .show-field-name
    :font-weight    bold
    :float          left
  .show-field-value
    :margin-left    10em

    
