$bg             = #ffffff
$loginbox       = #cc333f
$lighter-border = #3d3d3d
$header-text    = #ffffff
$header-background = #00a0b0

body
  :margin  0
  :padding 0
  :background-color     $bg

  :font-family          Verdana, sans serif, serif

  // For Header
  h1
    :background-color   $header-background
    :text-align         left
    :padding            .5em
    :margin-bottom     0
    a, a:visited, a:hover, a:active
      :text-decoration    none
      :font-weight        bold
      :color              $header-text
    
  // For command bar
  .command-bar
    :text-size        .8em
    :background-color #3c3c3c
    :color            #fff
    :padding-top      .2em
    :padding-bottom   .2em
    :margin-top       0


  #content
    :border 1px solid black
    :margin  2em
    :padding 2em

  .flash
    border: 1px solid black


  .login-box
    :background-color = $loginbox
    :border 1px solid $lighter-border
    :text-align center
    :vertical-align middle
    :margin-left auto
    :margin-right auto
    :padding-top 5em
    :width 500px
    :height 250px

  .login-box
    input
      :border 1px solid black
  
  #errorExplanation
    :border 1px solid black

    :padding .8em
    :margin  1em

    :background-color #ccc


  .show-field-name
    :font-weight    bold
    :float          left
  .show-field-value
    :margin-left    10em

    
