body {
  margin: 0;
  padding: 0;
  background-color: #f4f6ec;
  font-family: Verdana, sans serif, serif; }
  body h1 {
    background-color: #cc333f;
    text-align: center;
    padding: 0.5em;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0; }
    body h1 a, body h1 a:visited, body h1 a:hover, body h1 a:active {
      text-decoration: none;
      font-weight: bold;
      color: white; }
  body .command-bar {
    text-size: 0.8em;
    background-color: #d7d9d0;
    color: #6a4a3c;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px; }
    body .command-bar a, body .command-bar a:visited, body .command-bar a:hover, body .command-bar a:active {
      text-decoration: none; }
    body .command-bar a:hover, body .command-bar a:active {
      color: #cc333f; }
  body #content {
    margin: 20px;
    padding: 2em;
    background-color: white; }
    body #content input, body #content textarea, body #content select {
      margin-left: 1em; }
    body #content p label {
      width: 12em;
      float: left;
      margin-right: 0.5em;
      display: block; }
  body .flash {
    margin-left: 20px;
    margin-right: 20px; }
  body .login-box {
    background-color: #cc333f;
    border: 1px solid #3d3d3d;
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5em;
    width: 500px;
    height: 250px; }
  body .login-box input {
    border: 1px solid black; }
  body #errorExplanation {
    border: 1px solid black;
    padding: 0.8em;
    margin: 1em;
    background-color: #cccccc; }
  body .show-field-name {
    font-weight: bold;
    float: left; }
  body .show-field-value {
    margin-left: 10em; }
