body {
  margin: 0;
  padding: 0;
  background-color: white; }
  body h1 {
    text-align: center; }
  body #content {
    border: 1px solid black;
    margin: 2em;
    padding: 2em; }
  body .flash {
    border: 1px solid black; }
  body .login-box {
    background-color: #00ab38;
    border: 1px solid #3d3d3d;
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5em;
    width: 500px;
    height: 250px; }
  body .login-box input {
    border: 1px solid black; }
  body #errorExplanation {
    border: 1px solid black;
    padding: 0.8em;
    margin: 1em;
    background-color: #cccccc; }
  body .show-field-name {
    font-weight: bold;
    float: left; }
  body .show-field-value {
    margin-left: 10em; }
